.aboutHeader {
    padding: 20px;
    margin-left: 700px;
}

.aboutMePhoto {
    width:200px;
    margin-left: 700px;
    height:200px;
    padding:20px;
    border-radius: 50%;
}

.aboutContent {
    padding: 30px 500px 10px 500px;
}
