.root {
    background-color: #ade8f4;
    overflow: hidden;
}

.navbar {
    background-color: #7392B7;
}

.name {
    padding:20px;
}

.nav-tabs {
    display:flex;
    justify-content: flex-end;
    --bs-nav-tabs-border-width: 0px;
    padding: 20px;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    background-color: #ade8f4;
}

.footer img {
    height: 50px;
    border-radius: 50%;
}

.bodyContainer {
    height: fit-content; 
    width: 100%;
    padding: 120px;
    margin: 0px;
    background-color: #ade8f4;
}

.github {
    border-radius: 50%;
    padding-right: 3px;
}